<%- include('header') -%> 

<body>
    
    <div class="box" id="heading">
        <h1><%= titleEJS %></h1>
    </div>

    
    <div class="box">
        <% for( let i = 0; i < itemsEJS.length; i++ ) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= itemsEJS[i] %></p>
        </div>
            <% } %>

<form action="/" method="post">
<input type="text" name="nextToDo" placeholder="New Item" autocomplete="off">
<button type="submit" name="list" value="<%= titleEJS %>">+</button>
</form>
</div>
</body>

<%- include('footer') -%>